[Desktop Entry]
Icon=image-png
Name=Rednix-logo-transparent-background.png
Type=Link
URL[$e]=file:$HOME/Rednix-logo-transparent-background.png
X-KDE-LastOpenedWith=org.kde.plasmashell
