[Desktop Entry]
Icon=image-png
Name=rednixWallpaperDarker.png
Type=Link
URL[$e]=file:$HOME/rednixWallpaperDarker.png
X-KDE-LastOpenedWith=org.kde.gwenview
